:root {
  --navigation-background: #d6d6d6;
  --gray-1: rgb(107, 107, 107);
  --air-blue: #80a1c1;
  --vanila: #eee3ab;
  --bone: #d9cfc1;
  --chamoisse: #a77e58;
  --rust: #ba3f1d;
  --black: #000;
  --white: #fff;
  --plum: #dda0dd;
  --lemon: #fffacd;
  --lime: #32cd32;
}
