.container {
  padding: 20px;
}

.flexContainer {
  display: flex;
  align-items: start;

  & > :first-child {
    flex-basis: 33%;
  }
  & > :last-child {
    flex-grow: 1;
  }
}

.labelText {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.valueText {
  font-size: 16px;
  margin: 0;
}
