.container {
  background-color: var(--white);
  display: flex;
  align-content: start;
  gap: 20px;

  padding: 20px;
}

.cardContainer {
  max-width: 689px;
}

.baseText {
  font-weight: 500px;
  font-size: 24px;
}

.ticketContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 20px;
}

.ticketTitle {
  margin: 0;
  margin-bottom: 15px;
}

.workoutContainer {
  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}
